<%= image_tag(banner_item.photo_path) %>
<div class="carousel-caption">
  <div class="row">
    <div class="col-xl-7 col-lg-8 col-md-9">
      <h1 class="text-left text-black font-weight-bold" style="margin-top: -400px">
        <%= banner_item.description %>
      </h1>
    </div>
  </div>
</div>
