<% @bills.each do |item| %>
  <tr>
    <td><%= format_date_time(item.created_at) %></td>
    <td class="text-center"><%= number_to_currency(item.amount) %></td>
    <td><%= status_label(item.status) %></td>
    <td><%= order_action_buttons(item) %></td>
  </tr>
<% end %>
